<div>
    <h2>Exterior</h2>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>
                        <h4>Piso Actual: {{currentFloor}}</h4>
                        <samp>Selecciona el piso para solicitar ascensor </samp>
                        <select [(ngModel)]="currentFloor">
                            @for (item of floors; track item){
                                <option>{{item}}</option>
                            }
                        </select>

                        <button (click)="requestElevator()">Solicitar</button>
                    </td>
                    <td style="padding-left: 100px;">
                        <h4>Ascensor</h4>
                        <p>Piso: {{elevator.currentFloor}}</p>
                    </td>
                    <td style="padding-left: 100px;">
                        <h4>Lista de peticiones</h4>
                        @for (item of requests; track $index) {
                            <p>{{item.floorToGo}}</p>
                        }
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
    <hr>
    <h2>Interior</h2>
    <table>
        <tbody>
            <tr>
                <td><button (click)="requestElevatorToGo(1)">1</button></td>
                <td><button (click)="requestElevatorToGo(2)">2</button></td>
                <td><button (click)="requestElevatorToGo(3)">3</button></td>
            </tr>
            <tr>
                <td><button (click)="requestElevatorToGo(4)">4</button></td>
                <td><button (click)="requestElevatorToGo(5)">5</button></td>
                <td><button (click)="requestElevatorToGo(6)">6</button></td>
            </tr>
            <tr>
                <td><button (click)="requestElevatorToGo(7)">7</button></td>
                <td><button (click)="requestElevatorToGo(8)">8</button></td>
                <td><button (click)="requestElevatorToGo(9)">9</button></td>
            </tr>

        </tbody>
    </table>
    <button (click)="openDoors()">Detener</button>
    <p>{{openDoorsRes}}</p>
    <br>
    <button (click)="stopElevator()">Abrir puertas</button>
    <p>{{stopMess}}</p>
</div>